html {
   box-sizing: border-box;
   font-family: "Lato", sans-serif;
}

*, ::after, ::before {
   box-sizing: inherit;
}

.body {
   background-image: url(../img/backgroundSite.png);
   background-repeat: no-repeat;
   background-size:cover;
   background-attachment: fixed;
}

.form {
   max-width: 50%;
   margin: 10px auto;
}

.fieldset {
   display: block;
   box-shadow: 8px 7px 32px 1px rgba(84,84,84,1);
   padding: 5% 10%;
   margin: 100px auto 50px;
   border: 0px;
   border-radius: 5px;
   background-color: rgba(164, 192, 131, 0.633);
}

.currencyAmount {
   width: 150px;
   padding: 1%;
}

.fieldset__legend {
   margin: auto;
   padding: 10px 80px;
   border-radius: 5px;
   font-size: 28px;
   border: 2px;
   z-index: 10;
   background-color: rgb(90, 119, 55);
   color: rgb(245, 245, 245);

}